/* * {
  box-sizing: border-box;
} */

body {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2b167;
  height: 100vh;
}

.calculator {
  background-color: rgb(246, 249, 250);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 345px;
  padding: 20px 40px;
  border-radius: 4px;
  border: 5px solid rgb(85, 85, 85);
  box-shadow: 6px 4px -1px #cecece;
}

.screen {
  width: 320px;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
  color: rgb(71, 71, 71);
  font-size: 40px;
  border: 5px solid rgb(95, 93, 93);
  height: 50px;
  width: 350px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.calculator a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid grey;
}

.utility a:link,
.utility a:visited {
  background-color: #eee125;
  text-decoration: none;
  color: #4b4545;
  font-size: 20px;
  box-shadow: 4px 7px 4px -4px #cecece;
}
.utility a:hover {
  background-color: #ede682;
}
.utility a:active {
  transform: translateY(1px);
  box-shadow: 4px 5px 4px -4px #cecece;
}

.operator a:link,
.operator a:visited {
  background-color: #ee9d25;
  text-decoration: none;
  color: #4b4545;
  font-size: 20px;
  box-shadow: 4px 7px 4px -4px #cecece;
}

.operator a:hover {
  background-color: #ecb159;
}

.operator a:active {
  transform: translateY(1px);
  box-shadow: 4px 5px 4px -4px #cecece;
}

.equals a:link,
.equals a:visited {
  background-color: #58be39;
  text-decoration: none;
  color: #4b4545;
  font-size: 20px;
  box-shadow: 4px 7px 4px -4px #cecece;
}

.equals a:hover {
  background-color: #78c361;
}

.equals a:active {
  transform: translateY(1px);
  box-shadow: 4px 5px 4px -4px #cecece;
}

.number a:link,
.number a:visited {
  background-color: #6796b1;
  text-decoration: none;
  color: #4b4545;
  font-size: 20px;
  box-shadow: 4px 7px 4px -4px #cecece;
}

.number a:hover {
  background-color: #85a6ba;
}

.number a:active {
  transform: translateY(1px);
  box-shadow: 4px 5px 4px -4px #cecece;
}

.equals {
  flex-grow: 1;
}
